<title>
    Xerolink
</title>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col 12">
                <h1 id="about-title">
                    About
                </h1>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col 12">
                <h2 id="mission-statement-title">
                    Mission Statement
                </h2>
                <p id="mission-statement">
                    There are 30,000 foster youth in Los Angeles county.
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col 12">
                <h2 id="mentors-title">
                    Mentors
                </h2>
                <p id="mentors">
                    Our mentors are the fundamental aspect of our project, Xerolink, they provide guidance and help ensure our foster youth establishes their goals and achieves them.
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col 12">
                <h2 id="mentees-title">
                    Mentees
                </h2>
                <p id="mentees">
                    Our mentees are the fundamental aspect of our project, Xerolink, they provide guidance and help ensure our foster youth establishes their goals and achieves them.
                </p>
            </div>
        </div>
    </div>
</div>