<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a id="xerolink" class="navbar-brand" routerLink="home">
    <i class="fas fa-globe fa-spin"></i> Xerolink</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home"><i id="icon" class="fas fa-asterisk fa-spin"></i> Xerolink</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="about">About</a>
      <a class="nav-item nav-link" routerLink="login">Login</a>
      <a class="nav-item nav-link" routerLink="contact">Contact</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>