body {
    background-color: rgb(255, 221, 94);
}
.xerolink {
    font-size: 250px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin: 30px;
}

.foster {
    color: rgb(black);
    font-size: 35px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#learn-more {
    text-align: center;
    text-decoration: none;
}