<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col 12">
                    <br>
                    <br>
                    <br>
                    <h1 class="xerolink">
                        Xerolink
                    </h1>
                    <p class="foster">
                        where
                        <strong>foster youth</strong> and
                        <strong>mentors</strong> build career pathways
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div>
            <a class="nav-item nav-link" id="learn-more" routerLink="about">Learn More</a>
    </div>
</body>