<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col 12">
                <h1 class="xerolink">
                    Xerolink
                </h1>
                <p class="foster">
                    where
                    <strong>foster youth</strong> can achieve
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col 12">
                <a id="learn-more" routerLink="about">Learn More</a>
            </div>
        </div>
    </div>
</div>